.main-content {
    margin-left: 345px;
    transition: margin-left 300ms;
}

thead tr {
    border-bottom: 1px solid #f0f0f0;
}

td {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    color: #222;
}

table {
    border-collapse: collapse;
    border: 1px solid #f0f0f0;
   
}

thead td {
    font-weight: 700;

}

.table-responsive {
    width: 90%;
    margin: 5rem auto;
}

.container{
    border: 1px solid grey;
    width: 40%;
    margin-left:0;
}

.tabs-options {
    border: 1px solid grey;
    background-color: red;
}