<input type="checkbox" id="nav-toggle">

<div class="sidebar">
  <div class="sidebar-brand">
    <h2><span class="las la-star"></span> <span>Food</span></h2>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="restuarant/dashboard" class="active"><span class="las la-igloo"></span>
          <span>DashBoard</span></a>
        <!-- <i class="las la-battery-three-quarters"></i> -->
      </li>
      <li>
        <a href="restuarant/customers"><span class="las la-user-friends"></span>
          <span>Customers</span></a>
        <!-- <i class="las la-battery-three-quarters"></i> -->
      </li>
      <li>
        <a href="restuarant/products"><span class="las la-hamburger"></span>
          <span>Products</span></a>
        <!-- <i class="las la-battery-three-quarters"></i> -->
      </li>
      <li>
        <a href="/restuarant/orders"><span class="las la-clipboard-list"></span>
          <span>Orders</span></a>
        <!-- <i class="las la-battery-three-quarters"></i> -->
      </li>
      <li>
        <a href="restuarant/drivers"><span class="las la-car"></span>
          <span>Drivers</span></a>
        <!-- <i class="las la-battery-three-quarters"></i> -->
      </li>
      <li>
        <a href="/restuarant/bookings"><span class="las la-book"></span>
          <span>Bookings</span></a>
        <!-- <i class="las la-battery-three-quarters"></i> -->
      </li>
      <li>
        <a href=""><span class="las la-star-half-alt"></span>
          <span>Reviews & Ratings</span></a>
        <!-- <i class="las la-battery-three-quarters"></i> -->
      </li>
    </ul>
  </div>
  <div class="log">
    <li>
      <a href="/restuarant/login"><span class="las la-arrow-left"></span>
        <span>Logout</span></a>
    </li>
  </div>
</div>

<div class="main-content">

  <header>
    <h1>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
      </label>
    </h1>

    <div class="search-wrapper">
      <span class="las la-search"></span>
      <input type="search" placeholder="search here" />
    </div>

    <div class="user-wrapper">
      <img src="https://cdn-icons-png.flaticon.com/512/25/25634.png" width="40px" height="40px" alt="" />
      <div>
        <h4>Toka</h4>
        <small>Addmin</small>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body">
            <nav class="order-tab">
              <div class="nav-tabs nav" role="tablist"><a id="react-aria31190898-8-tab-Order" role="tab"
                  data-rr-ui-event-key="Order" aria-controls="react-aria31190898-8-tabpane-Order" aria-selected="true"
                  class="nav-link active" tabindex="0" href="#">Order in</a><a id="react-aria31190898-8-tab-Prepared"
                  role="tab" data-rr-ui-event-key="Prepared" aria-controls="react-aria31190898-8-tabpane-Prepared"
                  aria-selected="false" tabindex="-1" class="nav-link" href="#">Prepared</a><a
                  id="react-aria31190898-8-tab-Delivered" role="tab" data-rr-ui-event-key="Delivered"
                  aria-controls="react-aria31190898-8-tabpane-Delivered" aria-selected="false" tabindex="-1"
                  class="nav-link" href="#">Delivered</a></div>
            </nav>
            <div class="tab-content">
              <div role="tabpanel" id="react-aria31190898-8-tabpane-Order"
                aria-labelledby="react-aria31190898-8-tab-Order" class="fade tab-pane active show">
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Order #1</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Order #2</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Order #3</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Order #4</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Order #5</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Order #6</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
              </div>
              <div role="tabpanel" id="react-aria31190898-8-tabpane-Prepared"
                aria-labelledby="react-aria31190898-8-tab-Prepared" class="fade tab-pane">
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Prepared</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Prepared</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Prepared</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Prepared</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Prepared</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Prepared</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
              </div>
              <div role="tabpanel" id="react-aria31190898-8-tabpane-Delivered"
                aria-labelledby="react-aria31190898-8-tab-Delivered" class="fade tab-pane">
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Delivered</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Delivered</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Delivered</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Delivered</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Delivered</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
                <div class="orderin-bx d-flex align-items-center justify-content-between">
                  <div>
                    <h4>Delivered</h4><span>June 1, 2020, 08:22 AM</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <h4 class="text-primary mb-0">$202.00</h4>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="card border-0">
          <h4 class="cate-title mb-sm-3 mb-2 mt-xl-0 mt-3">Order Details</h4>
          <div class="card h-auto">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between border-bottom flex-wrap">
                <div class="mb-4">
                  <h4 class="font-w500">Order #1</h4><span>June 1, 2020, 08:22 AM</span>
                </div>
                <div class="orders-img d-flex mb-4 ">
                  <img src="https://cdn-icons-png.flaticon.com/512/25/25634.png" alt="" />
                  <div>
                    <h6 class="font-w500">Ruby Roben</h6><span>0627088291</span>
                  </div>
                </div>
              </div>
              <div class="row border-bottom pb-2">
                <div class="col-xl-6">
                  <div class="address-bx mt-3"><span class="d-block mb-2">Delivery Address</span>
                    <div class="d-flex align-items-center mb-2">
                      <i class="fas fa-map-marker-alt fa-3x"></i>
                      <h5 class="mb-0 ml-5">61 Collins Street<br />Brixton</h5>
                    </div>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. </p> -->
                  </div>
                </div>

                <div class="col-xl-2"></div>
              </div>
              <div class="order-menu style-1 mt-3">
                <h4>Order Menu</h4>
                <div class="d-flex align-items-center mb-4">
                  <img class="me-3"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCWuuZizf8W3t9J7RpYZ7qYad9dDPz_uFqUQ&usqp=CAU"
                    alt="">
                  <div>
                    <h4 class="font-w600 text-nowrap mb-0"><a href="/react/demo/orders">Pepperoni Pizza</a></h4>
                    <p class="mb-0">x1</p>
                  </div>
                  <h4 class="text-primary mb-0 ms-auto">+$5.59</h4>
                </div>
                <div class="d-flex align-items-center mb-4">
                  <img class="me-3"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCWuuZizf8W3t9J7RpYZ7qYad9dDPz_uFqUQ&usqp=CAU"
                    alt="">
                  <div>
                    <h4 class="font-w600 text-nowrap mb-0"><a href="/react/demo/orders">Japanese Ramen</a></h4>
                    <p class="mb-0">x1</p>
                  </div>
                  <h4 class="text-primary mb-0 ms-auto">+$5.59</h4>
                </div>
                <div class="d-flex align-items-center pb-2">
                  <img class="me-3"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCWuuZizf8W3t9J7RpYZ7qYad9dDPz_uFqUQ&usqp=CAU"
                    alt="">
                  <div>
                    <h4 class="font-w600 text-nowrap mb-0"><a href="/react/demo/orders">Pepperoni Pizza</a></h4>
                    <p class="mb-0">x1</p>
                  </div>
                  <h4 class="text-primary mb-0 ms-auto">+$5.59</h4>
                </div>
              </div>
              <hr style="opacity: 0.7;">
              <div class="d-flex align-items-center justify-content-between">
                <h4 class="font-w500 mb-0">Total</h4>
                <h4 class="cate-title text-primary">$16.77</h4>
              </div>
            </div>
          </div>
          <div class="text-end"><a class="btn btn-outline-danger me-sm-4 me-2" href="/react/demo/orders">Reject
              Order</a><a class="btn btn-primary" href="/react/demo/orders">Accept Order</a></div>
        </div>
      </div>
    </div>
  </div>


</div>