<div class="main-content">

    <div class="table-responsive">
        <table width="100%">
            <thead>
              <tr>
                <td>Name</td>
                <td>Time</td>
                <td>Date</td>
                <td>No of guests</td>
                <td>Status</td>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>
                 Oratile
                </td>
                <td>12:00</td>
                <td>25/02/2023</td>
                <td>2</td>
                <td>Pending</td>
              </tr>
           
              <tr>
                <td>
                 Oratile
                </td>
                <td>12:00</td>
                <td>25/02/2023</td>
                <td>2</td>
                <td>Pending</td>
              </tr>
    
              <tr>
                <td>
                 Oratile
                </td>
                <td>12:00</td>
                <td>25/02/2023</td>
                <td>2</td>
                <td>Pending</td>
              </tr>
    
              <tr>
                <td>
                 Oratile
                </td>
                <td>12:00</td>
                <td>25/02/2023</td>
                <td>2</td>
                <td>Pending</td>
              </tr>
            
            </tbody>
          </table>
    </div>

</div>
