<input type="checkbox" id="nav-toggle">

<div class="sidebar">
  <div class="sidebar-brand">
      <h2><span class="las la-star"></span> <span>Food</span></h2>
  </div>
  <div class="sidebar-menu">
    <ul>
        <li>
            <a href="restuarant/dashboard" class="active"><span class="las la-igloo"></span>
            <span>DashBoard</span></a>
            <!-- <i class="las la-battery-three-quarters"></i> -->
        </li>
        <li>
            <a href="restuarant/customers"><span class="las la-user-friends"></span>
            <span>Customers</span></a>
            <!-- <i class="las la-battery-three-quarters"></i> -->
        </li>
        <li>
            <a href="restuarant/products"><span class="las la-hamburger"></span>
            <span>Products</span></a>
            <!-- <i class="las la-battery-three-quarters"></i> -->
        </li>
        <li>
            <a href="/restuarant/orders"><span class="las la-clipboard-list"></span>
            <span>Orders</span></a>
            <!-- <i class="las la-battery-three-quarters"></i> -->
        </li>
        <li>
            <a href="restuarant/drivers"><span class="las la-car"></span>
            <span>Drivers</span></a>
            <!-- <i class="las la-battery-three-quarters"></i> -->
        </li>
        <li>
          <a href="/restuarant/bookings"><span class="las la-book"></span>
          <span>Bookings</span></a>
          <!-- <i class="las la-battery-three-quarters"></i> -->
      </li>
        <li>
            <a href=""><span class="las la-star-half-alt"></span>
            <span>Reviews & Ratings</span></a>
            <!-- <i class="las la-battery-three-quarters"></i> -->
        </li>
    </ul>
</div>
</div>



<div class="main-content">


  <header>
    <h1>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
      </label>
    </h1>

    <div class="search-wrapper">
      <span class="las la-search"></span>
      <input type="search" placeholder="search here" />
    </div>

    <div class="user-wrapper">
      <img
        src="https://cdn-icons-png.flaticon.com/512/25/25634.png"
        width="40px"
        height="40px"
        alt=""
      />
      <div>
        <h4>Toka</h4>
        <small>Addmin</small>
      </div>
    </div>
  </header>



  <div class="dashboard-banner">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVnQ_Hcf--IZzOKDIUdRKSDT7jwWL7TFLW5QgWO2OVIh4Lc1n02h0-3SGPQkRFIWsOats&usqp=CAU"
      width="100%"
      height="500px"
      alt=""
    />
  </div>
  <!-- <hr> -->


  <div class="table-responsive">
    <table width="100%">
      <thead>
        <tr>
          <td>Name</td>
          <td>Date</td>
          <td>Time</td>
          <td>Email</td>
          <td>Phone</td>
          <td>No of guests</td>
          <td>Message</td>
          <td>Status</td>
        </tr>
      </thead>

      <tbody>
        <tr ngFor="let booking of bookings">
          <td>{{bookings.data[0].attributes.name}}</td>
          <td>{{bookings.data[0].attributes.date}}</td>
          <td>{{bookings.data[0].attributes.time}}</td>
          <td>{{bookings.data[0].attributes.email}}</td>
          <td>{{bookings.data[0].attributes.phone}}</td>
          <td>{{bookings.data[0].attributes.guests}}</td>
          <td>{{bookings.data[0].attributes.message}}</td>
          <td>{{bookings.data[0].attributes.status}}</td>
        </tr>

     
      </tbody>
    </table>
  </div>
</div>
