<section class="gradient-custom">
    <div class="container all">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px">
                    <div class="card-body p-4 p-md-5">
                        <div>
                            
                            <h3 class="mb-0  text-uppercase text-center">create Account</h3>
                            <h6 class="text-center ">Let's get started!</h6>
                        </div>
                        <form class="d-flex flex-column align-items-center mt-3" [formGroup]="signupForm" (ngSubmit)="signup()">
                            <div class="form-group d-flex flex-column  ">
                                <label for="exampleInputEmail1">Username</label>
                                <input type="text" class="form-control signup-input" formControlName="username">
                            </div>
                            <div class="form-group d-flex flex-column  ">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control signup-input" formControlName="email">
                            </div>
                            <div class="form-group d-flex flex-column mb-3 ">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control signup-input" formControlName="password">
                            </div>
                            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger"
                                role="alert">
                                Your password should be at least 8 characters long.
                            </div>
                            <button type="submit" class="btn btn-dark" [disabled]="!signupForm.valid">Register</button>
                        </form>
                        <div class="form-group mt-3">
                            <P class = "Already">
                                Already have an account? Click
                                <a routerLink="/restuarant/login" class="here" >here</a> to log in
                            </P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>
