
.dashboard{
    /* display: flex; */
    /* justify-content: center; */
    /* grid-template-columns: repeat(auto-fit, minmax(250px,1fr)); */
    gap: 20px;
    padding: 0.5rem 1rem 1rem 1rem;
    margin-top: .5rem;
    width: 30%;
}
.why{
    margin-top: 7rem;
    margin-left: 20px;
    border-width: .5rem;
    /* color: #fff; */
    /* width: 10px; */
}
.wh{
    border-width: .5rem;
}

.dashboard-card{
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    /* height: 100px; */
    /* width: 100%; */
}
.dashboard-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-image{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}
.card-detail{
    padding: 10px;
}

.card-detail > h4 > span {
    float: right;
}

.card-time {
    color: darkgray;
    font-size: 0.8rem;
    padding-top: 10px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: 'Poppins', sans-serif; */
}

.main-content {
    margin-left: 345px;
    transition: margin-left 300ms;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
    background: #fff;
    /* transition: left 300ms; */
    /* height: 50px; */

}
#nav-toggle {
    display: none;
}

#nav-toggle:checked+.sidebar {
    width: 70px;
}

#nav-toggle:checked~.main-content {
    margin-left: 70px;

}

#nav-toggle:checked~.main-content header {
    width: calc(100% - 70px);
    left: 70px;

}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar li {
    padding-left: 1rem;
    text-align: center;

}

#nav-toggle:checked+.sidebar li a {
    padding-left: 0rem;


}


#nav-toggle:checked+.sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child {
    display: none;

}



header h2 {
    color: #222;
}

header label span {

    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}



.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;

}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
    /* height: inherit; */
}

.user-wrapper h4 {
    margin-bottom: 0rem !important;
}

.user-wrapper small {
    display: inline-block;
    color: gray;
    /* margin-top: ; */
}




#nav-toggle {
    display: none;
}

#nav-toggle:checked+.sidebar {
    width: 70px;
}

#nav-toggle:checked~.main-content {
    margin-left: 70px;

}

#nav-toggle:checked~.main-content header {
    width: calc(100% - 70px);
    left: 70px;

}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar li {
    padding-left: 1rem;
    text-align: center;

}

#nav-toggle:checked+.sidebar li a {
    padding-left: 0rem;


}


#nav-toggle:checked+.sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child {
    display: none;

}



header h2 {
    color: #222;
}

header label span {

    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}



.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;

}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
    /* height: inherit; */
}

.user-wrapper h4 {
    margin-bottom: 0rem !important;
}

.user-wrapper small {
    display: inline-block;
    color: gray;
    /* margin-top: ; */
}


.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    /* text-decoration: none; */
    background:blue;
    z-index: 100;
    transition: width 300ms;
}
.log{
    margin-bottom: 100%;
    margin-top: 120%;
}
.log a{
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
   

}
.log li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
    text-decoration: none;
}
.log li a{
    text-decoration: none;
}

.sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
    /* text-decoration: none; */


}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
    text-decoration: none;


}

.sidebar-menu li a {
    text-decoration: none;


}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    /* text-decoration: none; */

}

.sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: tomato;
    border-radius: 30px 0px 0px 30px;
    text-decoration: none;

}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
    text-decoration: none;

}
.btn{
    display: inline-flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 70px;

    }

    .main-content {
        margin-left: 70px;

    }

    .main-content header {
        width: calc(100% - 70px);
        left: 70px;

    }
    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left: 1rem;
        text-align: center;

    }

    .sidebar li a {
        padding-left: 0rem;


    }

    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child {
        display: none;

    }


.sidebar:hover {
    width: 70px;
    z-index: 200;

}


.sidebar:hover .sidebar-brand,
.sidebar:hover li 
{
    padding-left: 2rem  ;
    text-align: left;

}

.sidebar:hover li a
{
    padding-left: 1rem ;


}



.sidebar:hover .sidebar-brand h2 span:last-child,
.sidebar:hover li a span:last-child{
    display: inline; 

}


    
}


@media only screen and (max-width:960px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .recent-grid {
        grid-template-columns: 60% 40%;
    }
}



@media only screen and (max-width:768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .recent-grid {
        grid-template-columns: 100%;
    }

    .search-wrapper {
        display: none;
    }
    .sidebar{
        left: -100% !important;
    }
header h2{
    display: flex;
    align-items: center;
}
header h2 span{
    text-align: center;
    padding-right: 0rem;
    /* display: flex; */
}

header h2{
    font-size: 1.1rem;
}
.main-content{
    width: 100%;
    margin-left: 0rem;
}
header{
    width: 100% !important;
    left: 0 !important;
}

#nav-toggle:checked + .sidebar{
    left: 0 !important;
    z-index: 100;
    width: 345px;

}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li 
{
    padding-left: 2rem  ;
    text-align: left;

}

#nav-toggle:checked + .sidebar li a
{
    padding-left: 1rem ;


}



#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
    display: inline; 

}

#nav-toggle:checked ~ .main-content{
    margin-left: 0rem !important;
}



    header h2 label{
         background-color: rgb(209, 0, 195) ;
         padding-right: 0rem;
         margin-right: 1rem;
         display: inline-block;
         height: 40px;
         width: 40px;
         justify-content: center !important; 
         /* text-align: center; */
         border-radius: 50%;
         color: #fff;
         display: flex;
         align-items: center;
    }
}

@media only screen and (max-width:560px) {
    .cards {
        grid-template-columns: 100%;
    }

   
}



.card {
    background-color: initial;
    border: 0 solid transparent;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 0.5rem;
    box-shadow: none;
    height: calc(100% - 30px);
    margin-bottom: 1.875rem;
    position: relative;
    transition: all .5s ease-in-out;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.card {
    word-wrap: break-word;
    background-clip: initial;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.card.dishe-bx.style-1 .c-heart {
    margin: 0;
    position: absolute;
    right: 1.688rem;
    top: 1.375rem;
}
.card .c-heart {
    font-size: 1.25rem;
    margin-top: 1.125rem;
}
.c-pointer {
    cursor: pointer;
}
.fa-solid, .fas {
    font-family: Font Awesome\ 6 Free;
    font-weight: 900;
}
.card-body {
    padding: 1.875rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem;
}
.text-center {
    text-align: center!important;
}
.card.dishe-bx.style-1 img {
    height: 10.938rem;
    object-fit: cover;
    
    width: 100%;
}
/* @media only screen and (max-width: 61.9375rem)
.card.dishe-bx img {
    height: 7.063rem;
    width: 10.75rem;
} */

.card.dishe-bx img {
    height: 9.063rem;
    object-fit: cover;
    width: 13.75rem;
}
img, svg {
    vertical-align: middle;
}

p {
    line-height: 1.8;
}
p {
    margin-bottom: 1rem;
    margin-top: 0;
}
.me-2 {
    margin-right: 0.5rem!important;
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.75rem - 1px) calc(0.75rem - 1px);
}
.card-footer {
    background: transparent;
    border-color: #dbdbdb;
    padding: 1.25rem 1.875rem;
}
.card-footer {
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    padding: 0.5rem 1rem;
}
a {
    color: #3d4152;
}
a {
    color: #fc8019;
    text-decoration: underline;
}
.text-primary {
    /* color: #fc8019!important; */
    color: var(--primary)!important;
}

.card.dishe-bx .common .plus {
    /* background: #fc8019; */
    /* background: var(--primary); */
    border-radius: 0.5rem;
    color: #fff;
    display: inline-block;
    height: 2.5rem;
    line-height: 3rem;
    text-align: center;
    width: 2.5rem;
}
.plus {
    background:red;
    /* background: var(--primary); */
    border-radius: 0.5rem;
    color: #fff;
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-left: 1rem;
    min-width: 2.5rem;
    text-align: center;
}
.plus2 {
    background:blue;
    /* background: var(--primary); */
    border-radius: 0.5rem;
    color: #fff;
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-left: 1rem;
    min-width: 2.5rem;
    text-align: center;
}

.c-pointer {
    cursor: pointer;
}
.card.dishe-bx .common .plus .sub-bx {
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAJ1BMVEUAAAD///////////////////////////////////////////////+uPUo5AAAADHRSTlMAYIBA3yCvMBDvv5CvzCM4AAAAMklEQVQI12MAAi53BgiwOUQso1FQUOeYoKAog88ZMDiCYAQKCu4BSRFrYA2M0TIVSAAAXgobP6CGzjgAAAAASUVORK5CYII=); */
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 0.313rem;
    height: 40%;
    text-align: center;
    width: 0.313rem;
    width: 40%;
}