<div class="vh-100">
  <div class="container toka">
    <div class="row align-items-center justify-contain-center bg-login">
      <div class="col-xl-12 mt-5">
        <div class="card border-0">
          <div class="card-body login-bx">
            <div class="row mt-5">
              <div class="col-xl-8 col-md-6 text-center">
                <img
                  src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?cs=srgb&dl=pexels-ash-376464.jpg&fm=jpg"
                  class="food-img"
                  alt=""
                />
              </div>
              <div class="col-xl-4 col-md-6 pe-0 mt-5">
                <div class="sign-in-your mt-3">
                  <div class="text-center mb-3">
                    <img src="" class="mb-3" alt="" />
                    <h4 class="fs-20 font-w800 text-black">
                      Sign Into Your Account
                    </h4>
                    <span class="dlab-sign-up">Sign In</span>
                  </div>
                  <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3 mt-5">
                      <label class="mb-1">
                        <strong>Email Address</strong>
                      </label>
                      <input
                        type="email"
                        class="form-control"
                        formControlName="email"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="mb-1">
                        <strong>Password</strong>
                      </label>
                      <input
                        type="password"
                        class="form-control"
                        formControlName="password"
                      />
                    </div>
                    <div class="row d-flex justify-content-between mt-4 mb-2">
                      <div class="mb-3">
                        <div class="form-check custom-checkbox ms-1">
                          <label
                            class="form-check-label"
                            for="basic_checkbox_1"
                          ></label>
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <button
                        type="submit"
                        class="btn btn-primary btn-block"
                        [disabled]="!loginForm.valid"
                      >
                        Sign In
                      </button>
                    </div>
                  </form>
                  <div class="text-center">
                    <span
                      >Don't have an account
                      <a class="text-primary" routerLink="/restuarant/register">
                        Sign up</a
                      ></span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
