
.card {
  background-color: initial;
  border: 0 solid transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  box-shadow: none;
  height: calc(100% - 30px);
  margin-bottom: 1.875rem;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.border-0 {
  border-width: 0 !important;
}
.border-0 {
  border: 0 !important;
}
.card {
  word-wrap: break-word;
  background-clip: initial;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.card-body {
  padding: 1.875rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
.bg-login .food-img {
  border-radius: 0.5rem;
  height: 39.875rem;
  object-fit: cover;
  width: 100%;
}

img,
svg {
  vertical-align: middle;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
.text-black {
  color: #000 !important;
}

.bg-login .sign-in-your .dlab-sign-up {
  position: relative;
}
.bg-login .sign-in-your .dlab-sign-up:before {
  left: 4.375rem;
}

.bg-login .sign-in-your .dlab-sign-up:after,
.bg-login .sign-in-your .dlab-sign-up:before {
  background-color: #eee;
  content: "";
  height: 2px;
  position: absolute;
  top: 9px;
  width: 6.25rem;
}
:after,
:before {
  margin: 0;
  padding: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}

.bg-login .sign-in-your .dlab-sign-up:after {
  right: 4.375rem;
}
.bg-login .sign-in-your .dlab-sign-up:after,
.bg-login .sign-in-your .dlab-sign-up:before {
  background-color: #eee;
  content: "";
  height: 2px;
  position: absolute;
  top: 9px;
  width: 6.25rem;
}

:after,
:before {
  margin: 0;
  padding: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}

.form-control {
  background: #fff;
  border-color: #b3b3b3;
  border-radius: 0.5rem;
  color: #6e6e6e;
  font-size: 1rem;
  height: 3rem;
  line-height: 1.4;
  padding: 0.375rem 1rem;
}

.form-control {
  -webkit-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0.75rem;
  color: #777;
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.form-check {
  line-height: normal;
}

.form-check {
  font-size: 14px;
  font-weight: 600;
}
.ms-1 {
  margin-left: 0.25rem !important;
}
.form-check {
  display: block;
  margin-bottom: 0.125rem;
  min-height: 1.3125rem;
  padding-left: 1.5em;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}
.form-check-input {
  border-color: #e7e7e7;
  border-width: 0.125rem;
  height: 1.25rem;
  top: 0.125rem;
  width: 1.25rem;
}
.form-check-input {
  color-adjust: exact;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: 1em;
  margin-top: 0.25em;

  vertical-align: top;
  width: 1em;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
.form-check-label {
  margin-left: 0.3125rem;
  margin-top: 0.1875rem;
}

label {
  margin-bottom: 0.5rem;
}
label {
  display: inline-block;
}

.bg-login .sign-in-your .dlab-sign-up.style-1:before {
  left: 6.75rem;
}
.bg-login .sign-in-your .dlab-sign-up:before {
  left: 4.375rem;
}

.bg-login .sign-in-your .dlab-sign-up:after,
.bg-login .sign-in-your .dlab-sign-up:before {
  background-color: #eee;
  content: "";
  height: 2px;
  position: absolute;
  top: 9px;
  width: 6.25rem;
}
.bg-login .sign-in-your .dlab-sign-up.style-1:after {
  right: 6.75rem;
}
.bg-login .sign-in-your .dlab-sign-up:after {
  right: 4.375rem;
}
.bg-login .sign-in-your .dlab-sign-up:after,
.bg-login .sign-in-your .dlab-sign-up:before {
  background-color: #eee;
  content: "";
  height: 2px;
  position: absolute;
  top: 9px;
  width: 6.25rem;
}

@media only screen and (max-width: 1600px) {
  .bg-login .sign-in-your .dlab-signup-icon {
    text-align: center;
  }
}

.bg-login .sign-in-your .dlab-signup-icon {
  margin-bottom: 16px;
}

.btn-block {
  display: block;
  width: 100%;
}
.btn.btn-danger,
.btn.btn-info,
.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-success,
.btn.btn-warning {
  color: #fff;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

/* .btn-primary {
    background-color: #fc8019;
    background-color: var(--primary);
    border-color: #fc8019;
    border-color: var(--primary);
} */
.btn {
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.7875rem 1.319rem;
}
.bg-login .sign-in-your .facebook,
.bg-login .sign-in-your .google,
.bg-login .sign-in-your .likedin {
  color: #3b579d;
  font-size: 1rem;
}
.toka {
  margin-top: 15rem;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.btn-outline-light {
  color: #7e808c;
}
.btn-outline-light {
  border-color: #eee;
  color: #eee;
}
a {
  color: #3d4152;
}

a {
  color: #fc8019;
  text-decoration: underline;
}
.btn-link.active,
.btn-link:focus,
.btn-link:hover,
a,
a.active,
a:focus,
a:hover {
  text-decoration: none;
}
